@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-success-100: #49de50;
  --color-success-200: #42c748;
  --color-destructive-100: #f75353;
  --color-destructive-200: #c44141;

   --color-primary-100: #fff7ef;
  --color-primary-200: #faaa1a;

  --color-light-100: #ffffff;
  --color-light-400: #f2f2f2;
  --color-light-600: #b0a999;
  --color-light-800: #645f55;

  --color-dark-100: #1a130a;
  --color-dark-200: #2f2515;
  --color-dark-300: #3c2e1a;

  --font-mona-sans: "Mona Sans", sans-serif;

  --bg-pattern: url("/pattern.png");
}

:root {
  --radius: 0.625rem;

  --background: #ffffff;
  --foreground: #2f2515;

  --card: #ffffff;
  --card-foreground: #2f2515;

  --popover: #fffdf8;
  --popover-foreground: #2f2515;

  --primary: #faaa1a;
  --primary-foreground: #1a130a;

  --secondary: #fff1da;
  --secondary-foreground: #2f2515;

  --muted: #fdf4e7;
  --muted-foreground: #a1742b;

  --accent: #fff7ef;
  --accent-foreground: #f89b05;

  --destructive: #ff4d4d;

  --border: #ffe5c4;
  --input: #ffe5c4;
  --ring: #faaa1a;

  --chart-1: #ffb347;
  --chart-2: #fcb457;
  --chart-3: #ff9a4b;
  --chart-4: #ff7847;
  --chart-5: #ffa94d;

  --sidebar: #fff9f3;
  --sidebar-foreground: #2f2515;
  --sidebar-primary: #faaa1a;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fff1da;
  --sidebar-accent-foreground: #2f2515;
  --sidebar-border: #ffdca6;
  --sidebar-ring: #faaa1a;
}

.dark {
  --background: #2f2515;
  --foreground: #ffffff;

  --card: #3c2e1a;
  --card-foreground: #ffffff;

  --popover: #3c2e1a;
  --popover-foreground: #ffffff;

  --primary: #faaa1a;
  --primary-foreground: #2f2515;

  --secondary: #a86d1a;
  --secondary-foreground: #ffffff;

  --muted: #3c2e1a;
  --muted-foreground: #ffe5c4;

  --accent: #5b3c12;
  --accent-foreground: #ffffff;

  --destructive: #ff4d4d;

  --border: #faaa1a33;
  --input: #faaa1a22;
  --ring: #faaa1a;

  --chart-1: #ffb347;
  --chart-2: #fcb457;
  --chart-3: #ff9a4b;
  --chart-4: #ff7847;
  --chart-5: #ffa94d;

  --sidebar: #3c2e1a;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #faaa1a;
  --sidebar-primary-foreground: #2f2515;
  --sidebar-accent: #5b3c12;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #faaa1a33;
  --sidebar-ring: #faaa1a;
}

@theme inline {
  --theme-bg: var(--background);
  --theme-color: var(--foreground);
  --theme-border: var(--border);
  --theme-ring: var(--ring);

  --theme-card: var(--card);
  --theme-card-foreground: var(--card-foreground);
  --theme-popover: var(--popover);
  --theme-popover-foreground: var(--popover-foreground);

  --theme-primary: var(--primary);
  --theme-primary-foreground: var(--primary-foreground);
  --theme-secondary: var(--secondary);
  --theme-secondary-foreground: var(--secondary-foreground);

  --theme-muted: var(--muted);
  --theme-muted-foreground: var(--muted-foreground);

  --theme-accent: var(--accent);
  --theme-accent-foreground: var(--accent-foreground);

  --theme-destructive: var(--destructive);
}

@layer base {

  .root-layout {
    @apply flex mx-auto max-w-7xl flex-col gap-12 my-12 px-16 max-sm:px-4 max-sm:my-8;
  }

  .card-cta {
    @apply flex flex-row blue-gradient-dark rounded-3xl px-16 py-6 items-center justify-between max-sm:px-4;
  }

  .interviews-section {
    @apply flex flex-wrap gap-4 max-lg:flex-col w-full items-stretch;
  }

  .interview-text {
    @apply text-lg text-center text-white;
  }

  .progress {
    @apply h-1.5 text-[5px] font-bold bg-primary-200 rounded-full flex-center;
  }

  .tech-tooltip {
    @apply absolute bottom-full mb-1 hidden group-hover:flex px-2 py-1 text-xs text-white bg-gray-700 rounded-md shadow-md;
  }

  .card-interview {
    @apply dark-gradient rounded-2xl min-h-full flex flex-col p-6 relative overflow-hidden gap-10 justify-between;

    .badge-text {
      @apply text-sm font-semibold capitalize;
    }
  }
}

@utility dark-gradient {
  @apply bg-gradient-to-b from-[#2f2515] to-[#1a130a];
}

@utility border-gradient {
  @apply bg-gradient-to-b from-[#faaa1a] to-[#ffcf72];
}

@utility pattern {
  @apply bg-[url('/pattern.png')] bg-top bg-no-repeat;
}

@utility blue-gradient-dark {
  @apply bg-gradient-to-b from-[#ffedd5] to-[#fef3c7];
}

@utility blue-gradient {
  @apply bg-gradient-to-l from-[#ffffff] to-[#fff7ef];
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
